body {
  background-color: #222; /* Dark background color */
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #ffffff; /* Adjusted text color to a muted gray */
}

.App {
  text-align: center;
  padding: 20px;
}

.header {
  color: #ffffff; /* Muted blue-gray color */
}

.columns {
  display:flex;
  justify-content: space-between;
}

.Searching {
  margin-bottom: 10px;
}

.inputField {
  width: 200px;
  padding: 8px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  background-color: #777; /* Muted gray background */
  color: #ddd;
}

.searchButton {
  padding: 8px 16px;
  background-color: #888; /* Slightly darker muted gray */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ResultsContainer {
  width: 45%;
  margin: auto;
}

.PlaylistInput {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border: none;
  border-radius: 4px;
  background-color: #777; /* Muted gray background */
  color: #ddd;
}

h3 {
  color: #ffffff; /* Muted blue-gray color */
}

hr {
  border-top: 1px solid #ffffff; /* Muted gray border */
}
